<%= form_with(model: church) do |f| %>
  <% if church.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(church.errors.count, "error") %> prohibited this church from being saved:</h2>

      <ul>
        <% church.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="logo" align="center">
    <%= image_tag "canaa.png" %>
  
    <h1> RELATORIO DE ATIVIDADES <h1>
    <h2> FINANCEIRAS DIARIO - MONTESE |</h2>
    <p text-indent>
      Este formulário é de uso e preenchimento EXCLUSIVO do auxiliar de tesouraria. 
      Destinado ao controle de entradas e saídas das congregações do Ministério Canaã.
    </p>
  </div>

  <br/>

  <div class="card" align="center">
   <h3> 
      <%= f.label 'email:' %><br/>
      <%= f.text_field :mail %>
    <h3>
  </div>
  
  <br/>

  <div class="card" align="center">
   <h3>
      <%= f.label 'congregação:' %><br/>
      <%= f.text_field :congregacao %>
    </h3>
  </div>

  <br/>

  <div class="card" align="center">
    <h3>
      <%= f.label "nome do superior:" %><br/>
      <%= f.text_field "nome_superior" %>
    </h3>
  </div>

  <br/>

  <div class="card" align="center">
   <h3> 
      <%= f.label "auxiliar de tesouraria:" %><br/>
      <%= f.text_field "aux_tesouraria" %>
    </h3>
  </div>

  <br/>
  <div class="card" align="center">
    <h3>
      <%= f.label "data:" %><br/>
      <%= date_select("project", "due_date", :include_blank => true) %>
    </h3>
  </div>

  <br/>
  
  <div class="card" align="center">
    
    <h2>Dia da semana</h2><br/>
    <ul>
        <li style="list-style: none"><%= check_box_tag 'segunda-feira'%>segunda-feira</li>
        <li style="list-style: none"><%= check_box_tag 'terça-ferira' %> Quarta-feira</li>
        <li style="list-style: none"><%= check_box_tag (:id_quarta)%> Terça-feira</li>
        <li style="list-style: none"><%= check_box_tag (:id_quinra)%> Quinta-feira</li>
        <li style="list-style: none"><%= check_box_tag (:id_sexta)%> Sexta-feira</li>
        <li style="list-style: none"><%= check_box_tag (:id_sabado)%> Sabado-feira</li>
        <li style="list-style: none"><%= check_box_tag (:id_domingo)%> Domingo-feira</li>
    </ul>
  </div>

  <br/>
  
  <div class="card" align="center">
    <h3>
      <%= f.label "aceitação:" %><br/>
      <%= f.text_field "aceitacao" %>
    </h3>
  </div>

  <br/>
  
  <div class="card" align="center">
    <h3>
      <%= f.label "reconciliação:" %><br/>
      <%= f.text_field "reconciliacao" %>
    <h3>
  </div>

  <br/>
  
  <div class="card" align="center">
    <h3>
      <%= f.label "filiação:" %><br/>
      <%= f.text_field "filiacao" %>
    </h3>
  </div>

  <br/>

  <div class="card" align="center">
    <h2 >RENDA</h2 >
    <P>
      Esse campo deve ser preenchido apenas com números.  
      Lembrar de utilizar a pontuação correta para que haja compreensão devida dos valores.
    </P>
  </div>

  <br/>

  <div class="card" align="center">
    <h3>
      <%= f.label "renda do dia:" %><br/>
      <%= f.text_field "renda do dia" %>
    </h3>
  </div>

  <br/>

  <div class="card" align="center"> 
   <h3>
      <%= f.label "Renda: Culto de Adoração (Manhã)" %><br/>
      <%= f.text_field "RCAM" %>
    </h3>
  </div>

  <br/>

  <div class="card" align="center"> 
   <h3> 
      <%= f.label "Renda: Culto de Adoração (noite)" %><br/>
      <%= f.text_field "RCAN" %>
    </h3>
  </div>

  <br/>

  <div class="action" align="center">
      <%= f.submit 'Enviar Formulario' %>
  </div>
<% end %>
