<p id="notice"><%= notice %></p>

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
<h1 align="center"> Seja Bem vindo </h1>
<div align="center">
  <%= image_tag "canaa.png" %>
</div>

<h1 align="center"> <%=link_to 'Cadastrar sua igreja', new_church_path %></h1>
<%= link_to 'lista de usuarios', users_path %>
