<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>
  <table>
    <thead>
    <br/>
      <tr>
        <th>Nome: &nbsp; &nbsp;</th>
        <th>idade:</th>
        <th>Email:</th>
        <th>Senha:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.age %></td>
          <td><%= user.mail %></td>
          <td><%= user.password %></td>
          <td><%= link_to 'ver', user %></td>
          <td><%= link_to 'Editar', edit_user_path(user) %></td>
          <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'tem certeza que deseja excluir?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>

<%= link_to 'Criar novo usuario', new_user_path %> &nbsp;
<%= link_to 'ver igrejas', churches_path%>
